<div class="row header">
    <div class="col-md-2 logo">
        <a id="log" href="/">Style Me</a>
    </div>
    <div class="col">
        <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/apt">Book Appointment</a>
            </li>
        </ul>

    </div>
    <div class="col-md-5 cont">Contact Us:
        <span><a href='#'><i class="fa-solid fa-envelope"></i> styleme@gmail.com</a></span>
        <span><i class="fa-solid fa-phone-flip ms-md-5"></i> +2348187013369</span>
    </div>
</div>