<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= pageTitle %></title>
        <link rel='stylesheet' href='cssb/bootstrap.css' type='text/css'> 
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <link href='fonaws/css/all.min.css' rel='stylesheet'>
        <link rel='stylesheet' type='text/css' href='/css/about.css'/>
    </head>
    <body>

        <div class="container-fluid">
            <!--Row1 Header-->
            <div class="row header">
                <div class="col-md-2 logo">
                    <a id="log" href="/">Style Me</a>
                </div>
                <div class="col">
                    <ul class="nav">
                       
                        <li class="nav-item">
                        <a class="nav-link" href="/services">Services</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="/apt">Book Appointment</a>
                        </li>
                    </ul>


                </div>
                <div class="col-md-5 cont">Contact Us:
                    <span><a href='#'><i class="fa-solid fa-envelope"></i> styleme@gmail.com</a></span>
                    <span><i class="fa-solid fa-phone-flip ms-md-5"></i> +2348187013369</span>
                </div>
            </div>

            <!--Row 2-->

            <div class="row ab">
                <h2>ABOUT US</h2>
                <div class="col">
                    <img src="images/salon.jpg" alt="picture of the salon">
                </div>
                <div class="col">
                    <p id="lor">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Aliquet risus feugiat in ante metus dictum at tempor. Tincidunt nunc pulvinar sapien et. Nunc scelerisque viverra mauris in aliquam. At consectetur lorem donec massa sapien faucibus. Eu sem integer vitae justo eget magna. Pellentesque adipiscing commodo elit at imperdiet dui accumsan. Scelerisque varius morbi enim nunc. Purus in mollis nunc sed id semper. Ut porttitor leo a diam sollicitudin tempor. Turpis egestas integer eget aliquet nibh praesent. <br><br>Ac felis donec et odio pellentesque diam volutpat. Elementum tempus egestas sed sed risus pretium. Scelerisque purus semper eget duis at tellus. Porttitor eget dolor morbi non arcu risus quis varius. Ut porttitor leo a diam sollicitudin tempor. Nunc non blandit massa enim. Molestie nunc non blandit massa enim nec dui nunc mattis.</p>
                </div>
            </div>


            <!--Row 3-->
            <div class=" row buttom">

                <div class="col-md-2">
                    <h5>Opening Hours</h5><br>
                    <p>Mon-Fri: 8am-10pm</p>
                    <p>Sat: 7am-11pm</p>
                    <p>Sun: 12pm-8pm</p>

                </div>

                <div class="col-md-2">
                    <h5>Menu</h5><br>
                    <a class="buttom-link" href="#">About</a><br>
                    <a class="buttom-link" href="#">Services</a><br>
                    <a class="buttom-link" href="#">Book Appointment</a>

                </div>
                <div class="col-md-2 socials">
                    <h5>Socials</h5><br>
                    <a href="#"><i class="fa-brands fa-facebook"></i>Styleme</a><br>
                    <a href="#"><i class="fa-brands fa-instagram"></i>Styleme_101</a><br>
                    <a href="#"><i class="fa-brands fa-youtube"></i>Style me</a>

                </div>
                
                <div class="col-md-2">
                    <h5>Location/Map</h5><br>
                    <p>12, Ayodele Ogunlolu Close, Journalist Phase1, Arepo, Ogun State.</p>     

                </div>
                <div class="col map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3962.569399859991!2d3.4268584146326893!3d6.700129595155968!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103beb966dbf59c7%3A0x4b9140a16036d202!2sJournalists%20estate%20phase%20one!5e0!3m2!1sen!2sng!4v1668530793871!5m2!1sen!2sng" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>

            <!--Row 4-->
            <div class="row justify-content-between footer">
                <div class="col" id="last">&copy;Proudly Developed By Bukkyshow</div>
            </div>

        </div>

        <script type='text/javascript' src='js/bootstrap.bundle.min.js'></script>
        <script type='text/javascript' src='javascript'></script>
        
    </body>
</html>