<%- include('includes/head.ejs') %>

        <link rel='stylesheet' type='text/css' href='/css/service.css'/>
    </head>
    <body>

        <div class="container-fluid">
            <!--Row1 Header-->
<%- include('includes/navigation.ejs') %>


            <!--Row 2-->

            <div class="row topic">
                <div class="col">
                    <h1>Book An Appointment with Us Today</h1>
                </div>
            </div>

            <!--Row 3-->
            
            <div class="container-fluid bk">
                
                    <div class="row sam" id="sam1">
                        <div class="col">
                            <img src="images/hairn.jpg" alt="hair picture">
                        </div>
                        <div class="col low">
                            <h4>Hair Styling & Braiding</h4><br>
                            <button type="button" class="btn btn-outline-primary"><a href="/service-list">BOOK</a></button>
                        </div>
                    </div>
                
               
                    <div class="row sam" id="sam2">
                        <div class="col">
                            <img src="images/nail.jpg" alt="nail picture">
                        </div>
                        <div class="col low">
                            <h4>Manicure & Pedicure</h4><br>
                            <button type="button" class="btn btn-outline-primary"><a href="/service-list"></a>BOOK</button>
                        </div>
                    </div>
                
                    <div class="row sam" id="sam3">
                        <div class="col">
                            <img src="images/maken.jpg" alt="makeup picture">
                        </div>
                        <div class="col low">
                            <h4>Makeup Session</h4><br>
                            <button type="button" class="btn btn-outline-primary"><a href="/service-list"></a>BOOK</button>
                        </div>
                    </div>
            
            </div>

            <!--Row 4-->
            <div class=" row buttom">

                <div class="col-md-2">
                    <h5>Opening Hours</h5><br>
                    <p>Mon-Fri: 8am-10pm</p>
                    <p>Sat: 7am-11pm</p>
                    <p>Sun: 12pm-8pm</p>

                </div>

                <div class="col-md-2">
                    <h5>Menu</h5><br>
                    <a class="buttom-link" href="#">About</a><br>
                    <a class="buttom-link" href="#">Services</a><br>
                    <a class="buttom-link" href="#">Book Appointment</a>

                </div>
                <div class="col-md-2 socials">
                    <h5>Socials</h5><br>
                    <a href="#"><i class="fa-brands fa-facebook"></i>Styleme</a><br>
                    <a href="#"><i class="fa-brands fa-instagram"></i>Styleme_101</a><br>
                    <a href="#"><i class="fa-brands fa-youtube"></i>Style me</a>

                </div>
                
                <div class="col-md-2">
                    <h5>Location/Map</h5><br>
                    <p>12, Ayodele Ogunlolu Close, Journalist Phase1, Arepo, Ogun State.</p>     

                </div>
                <div class="col map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3962.569399859991!2d3.4268584146326893!3d6.700129595155968!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103beb966dbf59c7%3A0x4b9140a16036d202!2sJournalists%20estate%20phase%20one!5e0!3m2!1sen!2sng!4v1668530793871!5m2!1sen!2sng" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>

            <!--Row 5-->
            <div class="row justify-content-between footer">
                <div class="col" id="last">&copy;Proudly Developed By Bukkyshow</div>
            </div>


        </div>

<%- include('includes/end.ejs') %>