<%- include('includes/head.ejs') %>
		
	</head>
	
	<body>
		
		<div class="container-fluid">
			<!--Row1 Header-->
<%- include('includes/navigation.ejs') %>

			<!--Row 2-->
			
			

			<p>View your order <a href="/orders">here</a></p>
			<!--Row 7-->
			<div class="row justify-content-between footer">
				<div class="col">&copy;Proudly Developed By Bukkyshow</div>
			</div>

		</div>

<%- include('includes/end.ejs') %>